* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, rgb(255, 0, 157), rgb(0, 132, 255));
    background-repeat: no-repeat;
    height: 83.1vh;
    perspective: 1000px;
}

.card {
    margin: 150px auto;
    width: 400px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1.5s ease-in-out;
}

.card > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(152, 170, 221);
    border-radius: 10%;
    padding: 10px;
    border: 2px solid #999;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
.card:hover{
    transform: rotateY(180deg);
}

/* front */
.card .front{
    z-index: 2;
    backface-visibility: hidden;
}

.card  .front header {
    background-color: white;
    background-image: url('../img/5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    border-radius: 50% 50% 0% 0%;
}


.card  .front img {
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    position: relative;
    top: 40px;
}

.card  .front h2 {
    margin-top: 80px;
    color:white;
    font-weight: 700;
}

.card  .front p {
    color: #ddd;
    margin-top: 80px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 15px;
}

.card  .front h6 {
    margin-top: 90px;
    color:slategray;
    font-weight: bold;

}

/* back */
.card .back{
    z-index: 1;
    transform: rotateY(180deg);
}

.card .back ul{
    margin: 30px auto;
}

.card .back ul li{
    list-style: none;
    margin-top: 0px;
    padding:4px;
    line-height: 60px;
    text-align: left;
    color: white;
}


.card .back ul li img{
    width: 30px;
    padding: 0;
    margin: 0;
}

